/* ==========================================================================
   Homepage
   ========================================================================== */

/* ---------------------------------------------
      Main
   --------------------------------------------- */

.scoreboard {
	background-color: #000;
	color: #fff;
	float: right;
	height: 30px;
	text-align: center;
	padding-top: 3px;
	padding-left: 15px;
	font-size: 14px;

	.section {
		float: left;
		width: 90px;
		margin-right: 5px;

		.label {
			font-size: 14px;
			float: left;
			margin-right: -15px;
		}
	}
}

.main {
	.youwin, .gameover {
		font-size: 24px;
		text-align: center;
		width: 300px;
		margin: 0 auto;
	}

	.startnewgame {
		position: absolute;
		left: 43.7%;
		font-size: 24px;
	}
}

.clearfix:after {
	content: "";
	clear: both;
	display: "table";
}
