/* ==========================================================================
   Main Stylesheet
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ---------------------------------------------
      Color
   --------------------------------------------- */
/* ---------------------------------------------
      Mixins
   --------------------------------------------- */
/* ==========================================================================
   Typography
   ========================================================================== */
@font-face {
  font-family: myFirstFont;
  src: url(fonts/Franklin Gothic Demi Cond Regular.ttf);
}
/* ==========================================================================
   Elements
   ========================================================================== */
/* ---------------------------------------------
			Buttons
   --------------------------------------------- */
.btn {
  background-color: blue;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  color: blue;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid blue;
}
.btn-sm {
  padding: 20px;
}
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Homepage
   ========================================================================== */
/* ---------------------------------------------
      Main
   --------------------------------------------- */
.scoreboard {
  background-color: #000;
  color: #fff;
  float: right;
  width: 500px;
  height: 30px;
  margin: 0px 5px 0px 0px;
  text-align: center;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 14px;
}
.scoreboard .section {
  float: left;
  width: 150px;
  margin-right: 5px;
}
.scoreboard .section .label {
  font-size: 14px;
  float: left;
  margin-right: -10px;
}
.main .youwin {
  font-size: 24px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller

   Also, may modify and just make breakpoints where site goes wrong.
--------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}
/* Non-Retina */
/* Retina */
